body {
    background-color: beige;
}

header {
    text-align: right;
    position: fixed;
    width: 1490px;
    background-color: pink;
    z-index: 1;
    border: 5px solid black;
}

h2 {
    margin: 20px;
    padding: 30px;
}

li {
    display:inline;
}

first {
    height: 500px;
    width: 1490px;
    background-color: brown;
    display: block;
    text-align: center;
    border: 10px solid black;
}

second {
    height: 500px;
    width: 1490px;
    background-color: orangered;
    display: block;
    text-align: center;
    border: 10px solid slategray;
}

footer {
    height: 100px;
    width: 1490px;
    text-align: center;
    background-color: pink;
    border: 10px solid red;
}