body {
    background-color: beige;
}

header {
    text-align: right;
    position: fixed;
    width: 99%;
    background-color: pink;
    z-index: 1;
}

li {
    display:inline;
}

section {
    height: 1000px;
    width: 1500px;
    background-color: brown;
    display: block;
    position: absolute;
    text-align: center;
}
